* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F5F5DC;
}
html, body{
  scroll-behavior: smooth; /*scroll*/
}

div.logo {
  font-size: 23px;
  font-family: noto sans;
  font-weight: bold;
  margin-left: 20px;
}
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #26292F;
  color: #fff;
}
ul.nav-links a {
  color: #fff;
}
div.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
div.menu li:hover {
  background-color: #A2A5AE;
  border-radius: 5px;
  transition: 0.3s ease;
}
div.menu li a{
  /* padding: 5px 14px */
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-right: 14px;
  padding-left: 14px;
  text-decoration: none;
  font-family: noto sans;
}
li {
  list-style: none;
}
/*------------------------------*/
div.container {
  justify-content: center;
  align-items: center; 
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
  margin-bottom: 70px;
}
div.container img {
  max-width: 35%;
  max-height: 20%;
  float: left;
  margin-right: 80px;
}
div.textbox {
  font-size: 20px;
}
div.textbox p.name {
  font-size: 60px;
  font-family: noto sans;
  font-weight: bold;
}
div.textbox p.links {
  text-align: center;
  font-family: noto sans;
  font-size: 20px;
}
div.textbox p.links a {
  text-decoration: none;
  font-family: noto sans;
}
div.textbox hr {
  border: 1px solid #1E2D2F; 
  margin-left: 30px;
  margin-right: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textbox h2 {
  font-weight: lighter;
}

/*------------------*/
.other {
  text-align: center;
}
div.other img {
  max-width: 30%;
  max-height: 30%;
}
h1 {
  font-family: noto sans;
  font-weight: bold;
}
h2 {
  margin-top: 5px;
  font-family: noto sans;
  font-weight: bold;
}
h3 {
  text-align: center;
  margin-top: 5px;
  font-family: noto sans;
  font-weight: bold;
}
.homepage {
  padding-top: 15px;
  text-align: center;
}
.homepage a {
  text-decoration: none;
  font-family: noto sans;

}
.bgc {
  background-color: #877E66;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 50px;
}