* {
  margin: 0;
  padding: 0;
}
img {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
}
img:hover {
  opacity: 0.5;
}
.link a {
  font-family: arial;
  text-decoration: none;
}
body {
  background-color: #F5F5DC;
  font-family: Georgia;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}
h3 {
  text-align: center;
}
div {
  align: justify;
}
hr {
  margin: 20px;
}