* {
  margin: 0;
  padding: 0;
}
html, body{
  scroll-behavior: smooth; /*scroll*/
}
img {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
  display: inline-block;
}
img:hover {
  opacity: 0.5;
}
.link a {
  padding: 1em;
  color: #fff;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  font-family: noto sans;
  text-decoration: none;
}
.navbar {
  text-align: center;
  background-color: #26292F;
  margin-left: 700px;
  margin-right: 700px;
  border-radius: 5px;
}
body {
  background-color: #F5F5DC;
  font-family: noto sans;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
h4 {
  text-align: center;
  font-weight: lighter;
}
h2 {
  text-align: center;
}
div {
  align: center;
}
hr {
  margin: 20px;
}
div a {
  text-decoration: none; /* removes ung guhit beside the <a> element ng img*/
}
nav.clicks {
  text-align: center;
  background-color: #26292F;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}
div.links a {
  padding: 1em;
  color: #fff;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  font-family: noto sans;
  text-decoration: none;
}
