* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F5F5DC;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: noto sans;
}
div.content {
  display:  grid;
  /*border: solid;*/
  /*align-items: center; align items vertically*/
  /*justify-content: center; align items horizontally*/
  margin: 30px 550px;
  background-color: #877E66;
  border-radius: 5px;
  padding: 20px;
}
div.content img {
  width: 60%;
  display: grid;
  margin: auto; /*align items horizontally*/
}
div.content audio {
  margin: auto;
}
div.text {
  text-align: center;
}
div.link a {
  padding: 1em;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  font-family: noto sans;
  text-decoration: none;
  color: #fff;
}
.navbar {
  text-align: center;
  background-color: #26292F;
  padding: 10px;
}
h1 {
  font-weight: bolder;
}
h3 {
  font-weight: lighter;
}
hr {
  margin: 20px;
}
  