body{
  background-color: #F5F5DC
}

section{
  border-radius: 25px;
  padding: 20px;
  background-color: #A2A5AE; 
  width: auto;
  height: auto; 
  margin: 20px
}

h1 {
  font-family:Merriweather, Georgia; 
  text-align: center; 
  color: black;
  font-weight: bold
}

h2 {
  font-family:Merriweather, Georgia;
  margin:10px 10px; 
  color: black; 
  text-align: center; 
  font-weight: bolder
}

h3 {
  font-family:Merriweather, Georgia; 
  text-align: center; 
  color: black;
  font-weight: 200
}

p{
  font-family:Poppins, Tahoma, Verdana, Sedoe;
  font-size:16px;
  line-height:1.5;
  text-align:justify;
  margin:20px;
  color: black
}

hr{
  border: 3px solid #001eld; 
  margin: 25px 25px 25px
}
div {
  text-align: center;
}
div a{
  text-decoration: none;
}