* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F5F5DC;
}
div.logo {
  font-size: 23px;
  font-family: arial;
  font-weight: bold;
  text-align: center;
}
nav.navbar {
  align-items: center;
  padding: 20px;
  background-color: #26292F;
  color: #fff;
}
.categories {
  display: flex;
  justify-content: space-between;
  border: 3px solid;
  padding: 300px 100px;
  text-align: center;
  margin: 20px;
}
.categories a {
  text-decoration: none; /*removes the underline in <a> element */
  font-family: arial;
}
hr {
  color: black;
  size: 2px;
}